.container-fluid {
    background: black;
}

.wrapper {
    background: #282828;
}

.content {
    height: 100vh;
}

.logo {
    font-family: 'Exo 2', sans-serif;
    color: #dddddd;
}

.nav {
/*    position: absolute;*/
    margin-top: 15px;
    float:left;
}

.nav li {
    margin-top: px;
    height: 100px;
    width: 300px;
    background: #dddddd;
    text-align: center;
    padding-top: 20px;
}

.nav li:hover {
    background: #666;
}

.nav li a:hover {
    background: none !important;
}

.item {
    height: 300px;
    background: #dddddd;
}

.item:hover{
    background: #666;
}

#item1, #item2 {
    margin-top: 15px;
    margin-bottom: 5px;
/*    float: right;*/
}
#item3, #item4 {
/*    float: right;*/
}
#item1 {
    margin-left: 150px;
    margin-right: 5px;
}
#item3 {
    margin-left: 150px;
    margin-right: 5px;
}